**~
**__pycache__
**logs
**obj_dir
**obj
**\.dat
**msuconfig.vh

**vivado_*backup.jou
**vivado_*backup.log
**vivado.jou
**vivado.log
**vivado_pid*.str

msu/rtl/vivado_ozturk/msu.cache
msu/rtl/vivado_ozturk/msu.hw
msu/rtl/vivado_ozturk/msu.ip_user_files
msu/rtl/vivado_ozturk/msu.runs
msu/rtl/vivado_ozturk/msu.srcs
msu/rtl/vivado_simple/msu.cache
msu/rtl/vivado_simple/msu.hw
msu/rtl/vivado_simple/msu.ip_user_files
msu/rtl/vivado_simple/msu.runs
msu/rtl/vivado_simple/msu.srcs
